@using Sitecore.Feature.Store
@using Sitecore.Foundation.Dictionary.Extensions
@model Sitecore.Feature.Store.Models.StoreSearchResultViewModel

@if (Model == null)
{
    return;
}
<div id="searchResults" style="display: none">
    <input type="hidden" id="totalNumberOfResults" value="@Model.TotalNumberOfResults" />
</div>

@if (Model.IsHiddenIfNotFound)
{
    return;
}

<div class="result-header">@Html.Sitecore().DictionaryField(Constants.Stores, Constants.StoresText)</div>
@if (Model.TotalNumberOfResults == 0)
{
    <div class="list clearfix">
        <div class="text-center">@Html.Sitecore().DictionaryField(Constants.SearchNotFound, Constants.SearchNotFoundText)</div>
    </div>
    return;
}

<div class="store-listing">
    <div class="list clearfix">
        @foreach (var store in Model.Stores)
        {
            <div class="item clearfix" id="@store.Id">
                <div class="thumb">
                    <a href="@store.Url">
                        <img src="@(store.Logo?.Src)" alt="@(store.Logo?.Alt)">
                    </a>
                    @if (store.Status == StoreStatus.New)
                    {
                        <div class="tag">
                            <img src="@Url.Content("~/images/assets/tag-new.svg")" alt="">
                        </div>
                    }
                    @if (store.Status == StoreStatus.Upcoming)
                    {
                        <div class="tag">
                            <img src="@Url.Content("~/images/assets/tag-upcoming.svg")" alt="">
                        </div>
                    }
                </div>
                <div class="details">
                    <div class="storename">
                        <a href="@store.Url">@store.StoreName</a>
                    </div>
                    <div class="row">
                        <div class="col findus">
                            <div class="title">@Html.Sitecore().DictionaryField(Constants.FindUs, Constants.FindUsText)</div>
                            <div class="info">@store.Mall, @store.UnitNo</div>
                        </div>
                        <div class="col callus">
                            <div class="title">@Html.Sitecore().DictionaryField(Constants.CallUs, Constants.CallUsText)</div>
                            <div class="info">@store.Contact</div>
                        </div>
                        <div class="col openfrom">
                            <div class="title">@Html.Sitecore().DictionaryField(Constants.OpeFrom, Constants.OpenFromText)</div>
                            <div class="info">@store.OpeningHours</div>
                        </div>
                        <div class="col category">
                            <div class="title">@Html.Sitecore().DictionaryField(Constants.Category, Constants.CategoryText)</div>
                            <div class="info">@(string.Join(",", store.Categories.Select(x => x.Name)))</div>
                        </div>
                        <div class="col additional">
                            @foreach (var offer in store.Offers)
                            {
                                <div class="item small-icon @offer.IconCssClass active">@offer.Name</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.HasMoreResult)
        {
            <div class="more-wrap">
                <a href="javascript:void(0)" class="full-btn @(Sitecore.Context.PageMode.IsExperienceEditor ? "disabled" : "" )" data-rendering-id="@Model.RenderingId" data-page-index="@Model.PageIndex" data-page-size="@Model.PageSize" data-anchor="#@(Model.Stores.LastOrDefault()?.Id)">@Html.Sitecore().DictionaryField(Constants.LoadMore, Constants.LoadMoreText)</a>
            </div>
        }
    </div>
</div>