@using Sitecore.Foundation.Dictionary.Extensions

<div class="share addthis_toolbox invisible">
    <a href="javascript:void(0)" class="item fb addthis_button_facebook">
        <img src="@Url.Content("~/images/assets/icon-fb.svg")" alt="@Html.Sitecore().DictionaryField("/sitecore/content/Global/Dictionary/Social/Facebook", "Facebook")">
    </a>
    <a href="javascript:void(0)" class="item twitter addthis_button_twitter">
        <img src="@Url.Content("~/images/assets/icon-twitter.svg")" alt="@Html.Sitecore().DictionaryField("/sitecore/content/Global/Dictionary/Social/Twitter", "Twitter")">
    </a>
    <a href="javascript:void(0)" class="item pinterest addthis_button_pinterest">
        <img src="@Url.Content("~/images/assets/icon-pinterest.svg")" alt="@Html.Sitecore().DictionaryField("/sitecore/content/Global/Dictionary/Social/Pinterest", "Pinterest")">
    </a>
    <a href="javascript:void(0)" class="item whatsapp addthis_button_whatsapp">
        <img src="@Url.Content("~/images/assets/icon-whatsapp.svg")" alt="@Html.Sitecore().DictionaryField("/sitecore/content/Global/Dictionary/Social/WhatsApp", "WhatsApp")">
    </a>
    <a href="javascript:void(0)" class="item email addthis_button_email">
        <img src="@Url.Content("~/images/assets/icon-email.svg")" alt="@Html.Sitecore().DictionaryField("/sitecore/content/Global/Dictionary/Social/Email", "Email")">
    </a>
</div>