@using Sitecore.Feature.Teasers
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Dictionary.Extensions;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    if (!Model?.Item?.IsDerived(Templates.TeaserContent.ID) ?? true)
    {
        @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.TeaserContent.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
        return;
    }
}

<div class="widget fr">
    @Html.Sitecore().ImageField(Templates.TeaserContent.Fields.TeaserImage)
    <p>@Html.Sitecore().Field(Templates.TeaserContent.Fields.TeaserSummary)</p>
    <a href="@Model.Item.LinkFieldUrl(Templates.TeaserContent.Fields.TeaserLink)" class="more rightarrow">@Html.Sitecore().Dictionary("/Website/Learn More","Learn More")</a>
</div>